<div class="view">
	<h1>Process Error Logs</h1>
	<div ng-if="data == null"><img src="/Content/Images/loading.gif" title="Loading..." alt="Loading..." /></div>
	<div ng-if="data != null">
		<div class="row">
			<div class="col-md-12">
				<input type="text" class="form-control filter-control" ng-model="searchKey" placeholder="Filter..." />
			</div>
		</div>
		<hr />
		<table class="table table-hover table-condensed" data-toggle="table" data-cache="false">
			<thead>
				<tr class="bold">
					<th style="width: 160px">Date</th>
					<th>Procedure</th>
					<th>Message</th>
					<th>Data</th>
					<th class="right">Severity</th>
					<th class="right">State</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in data | filter: searchKey">
					<td>{{item.Date}}</td>
					<td>{{item.Procedure}}</td>
					<td>{{item.Message}}</td>
					<td>{{item.Data}}</td>
					<td class="right">{{item.Severity}}</td>
					<td class="right">{{item.State}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>