<div class="view">
	<h1>Tables</h1>
	<div ng-if="data == null"><img src="/Content/Images/loading.gif" title="Loading..." alt="Loading..." /></div>
	<div ng-if="data != null">
		<div class="row">
			<div class="col-md-12">
				<input type="text" class="form-control filter-control" ng-model="searchKey" placeholder="Filter..." />
			</div>
		</div>
		<hr />
		<table class="table table-hover table-condensed" data-toggle="table" data-cache="false">
			<thead>
				<tr class="bold">
					<th>Name</th>
					<th class="right" style="width: 100px">Rows</th>
					<th class="right" style="width: 150px">Table Size (MB)</th>
					<th class="right" style="width: 150px">Indexes Size (MB)</th>
					<th class="right" style="width: 150px">Total Size (MB)</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in data | filter: searchKey">
					<td>{{item.Name}}</td>
					<td class="right">{{item.RowCounts}}</td>
					<td class="right">{{item.TableSizeInMB}}</td>
					<td class="right">{{item.IndexSizeInMB}}</td>
					<td class="right">{{item.TotalSizeInMB}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>