<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<startup
		useLegacyV2RuntimeActivationPolicy="true">
		<supportedRuntime
			version="v4.0"
			sku=".NETFramework,Version=v4.5" />
	</startup>

	<!-- Consider app.config remapping of assembly "Microsoft.SqlServer.ConnectionInfo, Culture=neutral, PublicKeyToken=89845dcd8080cc91" from Version "11.0.0.0" [C:\_DEV\Net.LayerCake-Generator\Templates\Src\LayerCake.Generator\LayerCake.Generator.Processor\bin\Debug\Microsoft.SqlServer.ConnectionInfo.dll] to Version "12.0.0.0" [C:\_DEV\Net.LayerCake-Generator\Templates\Libraries\Microsoft SQL Server 12.0\Microsoft.SqlServer.ConnectionInfo.dll] to solve conflict and get rid of warning. -->
	<!--
	<runtime>
		<assemblyBinding
			xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity
					name="Microsoft.SqlServer.ConnectionInfo"
					publicKeyToken="89845dcd8080cc91"
					culture="neutral" />
				<bindingRedirect
					oldVersion="0.0.0.0-11.0.0.0"
					newVersion="12.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity
					name="Microsoft.SqlServer.Smo"
					publicKeyToken="89845dcd8080cc91"
					culture="neutral" />
				<bindingRedirect
					oldVersion="0.0.0.0-11.0.0.0"
					newVersion="12.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity
					name="Microsoft.SqlServer.SqlEnum"
					publicKeyToken="89845dcd8080cc91"
					culture="neutral" />
				<bindingRedirect
					oldVersion="0.0.0.0-11.0.0.0"
					newVersion="12.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity
					name="Microsoft.SqlServer.ServiceBrokerEnum"
					publicKeyToken="89845dcd8080cc91"
					culture="neutral" />
				<bindingRedirect
					oldVersion="0.0.0.0-11.0.0.0"
					newVersion="12.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity
					name="Microsoft.SqlServer.SqlClrProvider"
					publicKeyToken="89845dcd8080cc91"
					culture="neutral" />
				<bindingRedirect
					oldVersion="0.0.0.0-11.0.0.0"
					newVersion="12.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity
					name="Microsoft.SqlServer.Diagnostics.STrace"
					publicKeyToken="89845dcd8080cc91"
					culture="neutral" />
				<bindingRedirect
					oldVersion="0.0.0.0-11.0.0.0"
					newVersion="12.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity
					name="Microsoft.SqlServer.Sdk.Sfc"
					publicKeyToken="89845dcd8080cc91"
					culture="neutral" />
				<bindingRedirect
					oldVersion="0.0.0.0-11.0.0.0"
					newVersion="12.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity
					name="Microsoft.SqlServer.SqlParser"
					publicKeyToken="89845dcd8080cc91"
					culture="neutral" />
				<bindingRedirect
					oldVersion="0.0.0.0-11.0.0.0"
					newVersion="12.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity
					name="Microsoft.SqlServer.SmoMetadataProvider"
					publicKeyToken="89845dcd8080cc91"
					culture="neutral" />
				<bindingRedirect
					oldVersion="0.0.0.0-11.0.0.0"
					newVersion="12.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity
					name="Microsoft.SqlServer.Dmf"
					publicKeyToken="89845dcd8080cc91"
					culture="neutral" />
				<bindingRedirect
					oldVersion="0.0.0.0-11.0.0.0"
					newVersion="12.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	-->

</configuration>