<?xml version="1.0"?>
<bindings>
  
  <wsHttpBinding>
    
    <binding
      name="defaultBinding"
      closeTimeout="00:02:00"
      openTimeout="00:02:00"
      sendTimeout="00:02:00"
      maxBufferPoolSize="2147483647"
      maxReceivedMessageSize="2147483647">
      <readerQuotas
        maxArrayLength="2147483647"
        maxNameTableCharCount="2147483647"
        maxStringContentLength="2147483647"
        maxDepth="2147483647"
        maxBytesPerRead="2147483647" />
      <security
        mode="None" />
    </binding>
    
    <binding
      name="secureBinding"
      closeTimeout="00:02:00"
      openTimeout="00:02:00"
      sendTimeout="00:02:00"
      maxBufferPoolSize="2147483647"
      maxReceivedMessageSize="2147483647">
      <readerQuotas
        maxArrayLength="2147483647"
        maxNameTableCharCount="2147483647"
        maxStringContentLength="2147483647"
        maxDepth="2147483647"
        maxBytesPerRead="2147483647" />
      <security
        mode="TransportWithMessageCredential">
        <message
          clientCredentialType="UserName"
          negotiateServiceCredential="False" />
      </security>
    </binding>
    
  </wsHttpBinding>
  
</bindings>