<?xml version="1.0"?>
<behaviors>
  
  <endpointBehaviors>

    <behavior
      name="defaultEndpointBehavior">
    </behavior>

    <behavior
      name="secureEndpointBehavior">

      <!-- Turn off the enforced validation of arriving message headers. -->
      <!-- In normal execution, message headers are compared against the UnderstoodHeaders property to confirm that arriving headers are explicitly handled by the callback object runtime. -->
      <!-- This disables this checking. Thus the application must check for headers marked with MustUnderstand="true" and return a fault if one or more of them were not understood. -->
      <!-- This is useful when the callback is supposed to accept any incoming SOAP messages (for example, when using typed or untyped messages) and perform custom header processing. -->
      <validateMustUnderstand />
      
    </behavior>
    
  </endpointBehaviors>

  <serviceBehaviors>

    <behavior
      name="defaultServiceBehavior">
      
      <technicalException />
      <operationException />
      <entityValidationException />
      
      <wcfServiceTracking />
      <wcfOperationSecurity />
      <wcfMessageDump />
      
      <serviceMetadata
        httpGetEnabled="true"
        httpsGetEnabled="false" />
      
      <serviceDebug
        httpHelpPageEnabled="true"
        includeExceptionDetailInFaults="true" />

    </behavior>

    <behavior
      name="secureServiceBehavior">

      <technicalException />
      <operationException />
      <entityValidationException />

      <wcfServiceTracking />
      <wcfOperationSecurity />
      <wcfMessageDump />

      <serviceMetadata
        httpGetEnabled="false"
        httpsGetEnabled="true" />

      <serviceDebug
        httpHelpPageEnabled="true"
        includeExceptionDetailInFaults="true" />

      <serviceCredentials>
        <userNameAuthentication
          userNamePasswordValidationMode="Custom"
          customUserNamePasswordValidatorType="VahapYigit.Test.WebServices.CustomUserValidator, VahapYigit.Test.WebServices"/>
      </serviceCredentials>

    </behavior>
    
  </serviceBehaviors>
  
</behaviors>