<?xml version="1.0"?>
<!-- IMPORTANT -->
<!-- This file is not directly used by WCF -->
<!-- All services defined here will be automatically injected in the Servicemodel.Services.generated.config file by Layercake Generator Process -->
<!-- You can define here custom services -->
<services>
  <!--
  <service
    name="VahapYigit.Test.Services.MyCustomService"
    behaviorConfiguration="defaultServiceBehavior">
    <endpoint
      address="mex"
      binding="mexHttpBinding"
      contract="IMetadataExchange" />
    <endpoint
      address=""
      behaviorConfiguration="defaultEndpointBehavior"
      binding="wsHttpBinding"
      bindingConfiguration="defaultBinding"
      contract="VahapYigit.Test.Contracts.IMyCustomService" />
  </service>
  -->
</services>