<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<configSections>
		<section name="serviceLocatorConfiguration" type="System.ServiceLocatorSectionHandler, System.Extensions" />
		<section name="loggerServiceConfiguration" type="System.LoggerServiceSectionHandler, System.Extensions" />
		<section name="smtpServiceConfiguration" type="System.SmtpServiceSectionHandler, System.Extensions" />
		<section name="queueExecutionTracerServiceConfiguration" type="System.QueueExecutionTracerServiceSectionHandler, System.Extensions" />
		<section name="xmlExecutionTracerServiceConfiguration" type="System.XmlExecutionTracerServiceSectionHandler, System.Extensions" />
		<section name="mailTemplateServiceConfiguration" type="VahapYigit.Test.Core.MailTemplateServiceSectionHandler, VahapYigit.Test.Core" />
		<section name="wcfServiceTrackingConfiguration" type="VahapYigit.Test.Core.WcfServiceTrackingSectionHandler, VahapYigit.Test.Core" />
		<section name="wcfOperationSecurityConfiguration" type="VahapYigit.Test.Core.WcfOperationSecuritySectionHandler, VahapYigit.Test.Core" />
		<section name="serviceProxyConfiguration" type="VahapYigit.Test.ClientCore.ServiceProxySectionHandler, VahapYigit.Test.ClientCore" />
	</configSections>

	<appSettings>
		<!-- For WebApi > MonitoringController access -->
		<add key="WebApi.WithSimpleAdminAuth" value="True" />
		<add key="WebApi.AdminIdentifier" value="admin" />
		<add key="WebApi.AdminPassword" value="admin" />
	</appSettings>

	<serviceLocatorConfiguration>
		<instances>
			<!--
			The instances (Singleton) are loaded in the order they are defined.
			The ILoggerService must be at the first position.
			-->
			<instance interface="System.ILoggerService, System.Extensions" implementation="System.LoggerService, System.Extensions" instancingMode="Singleton" />
			<instance interface="System.ICacheService, System.Extensions" implementation="System.LocalMemoryCacheService, System.Extensions" instancingMode="Singleton" />
			<instance interface="System.IMessengerService, System.Extensions" implementation="System.MessengerService, System.Extensions" instancingMode="Singleton" />
			<instance interface="System.ISmtpService, System.Extensions" implementation="System.SmtpService, System.Extensions" instancingMode="Singleton" />
		</instances>
	</serviceLocatorConfiguration>

	<loggerServiceConfiguration isEnabled="True" logSource="Logs\DefaultLogs.log.txt" />

	<!--
		hostname     = SMTP server address
		Port         = SMTP server port (defaut, 25)
		Username     = Username to connect to the service
		Password     = Password to connect to the service
		SenderName   = Displayed name of the mail sender
		From         = Email address used when Send() does not specified the From field
		Redirection  = Email address where emails are redirected (To field will be overrided by this value and Cc/Bcc erased)
	-->
	<smtpServiceConfiguration hostname="smtp.gmail.com" port="25" username="usameyigit" password="Objectx04081991" senderName="VahapYigit.Test Team" from="usameyigit@gmail.com" cc="" bcc="" redirection="" enableSsl="false" useDefaultCredentials="true" />

	<xmlExecutionTracerServiceConfiguration isEnabled="True" withDebugTrace="True" outputPath="Logs\ExecutionTracer.log.xml" />

	<queueExecutionTracerServiceConfiguration isEnabled="True" withDebugTrace="True" maxItems="1024" rollTimer="1" />

	<serviceProxyConfiguration isLocal="False" />

	<mailTemplateServiceConfiguration path="App_Data\MailTemplates" />

	<wcfServiceTrackingConfiguration isEnabled="True" withMessageLogging="True" />

	<wcfOperationSecurityConfiguration isEnabled="True" />

	<connectionStrings>
		<add name="Default" connectionString="Data Source=localhost;Initial Catalog=Ammoti;User ID=sa;Password=Objectx04081991;" />
	</connectionStrings>

	<system.serviceModel>

		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />

		<behaviors configSource="Config\ServiceModel.Behaviors.config" />
		<bindings configSource="Config\ServiceModel.Bindings.config" />
		<services configSource="Config\ServiceModel.Services.generated.config" />

		<diagnostics>
			<messageLogging logMalformedMessages="true" logMessagesAtTransportLevel="true" />
		</diagnostics>

		<extensions>
			<behaviorExtensions>
				<add name="technicalException" type="VahapYigit.Test.Core.TechnicalExceptionElement, VahapYigit.Test.Core" />
				<add name="operationException" type="VahapYigit.Test.Core.OperationExceptionElement, VahapYigit.Test.Core" />
				<add name="entityValidationException" type="VahapYigit.Test.Core.EntityValidationExceptionElement, VahapYigit.Test.Core" />
				<add name="validateMustUnderstand" type="VahapYigit.Test.WebServices.ValidateMustUnderstandElement, VahapYigit.Test.WebServices" />
				<add name="wcfServiceTracking" type="VahapYigit.Test.WebServices.WcfServiceTrackingElement, VahapYigit.Test.WebServices" />
				<add name="wcfOperationSecurity" type="VahapYigit.Test.WebServices.WcfOperationSecurityElement, VahapYigit.Test.WebServices" />
				<add name="wcfMessageDump" type="VahapYigit.Test.WebServices.WcfMessageDumpElement, VahapYigit.Test.WebServices" />
			</behaviorExtensions>
		</extensions>

	</system.serviceModel>

	<system.diagnostics>
		<trace autoflush="true" />
		<sources>
			<source name="System.ServiceModel" switchValue="Warning, ActivityTracing" propagateActivity="true">
				<listeners>
					<add name="default" />
				</listeners>
			</source>
			<source name="System.ServiceModel.MessageLogging" switchValue="Warning, ActivityTracing">
				<listeners>
					<add name="default" />
				</listeners>
			</source>
		</sources>
		<sharedListeners>
			<add name="default" initializeData="Logs\WcfTraces.svclog" type="System.Diagnostics.XmlWriterTraceListener" traceOutputOptions="Timestamp" />
		</sharedListeners>
	</system.diagnostics>

	<system.web>
		<httpRuntime targetFramework="4.5" />
		<compilation debug="true" targetFramework="4.5" />
		<pages controlRenderingCompatibilityVersion="4.0" />
		<webServices>
			<protocols>
				<add name="HttpGet" />
				<add name="HttpPost" />
			</protocols>
		</webServices>
	</system.web>

	<system.webServer>
		<handlers>
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<remove name="TRACEVerbHandler" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>

</configuration>